    <!-- <div class="evento-detalhe">
        <table id="tabela-lista-detalhes" class="table table-hover">  
        <caption>Detalhes evento: {{ vm.evento.titulo }}</caption>
            <tr>
                <td>ID</td>
                <td >{{ vm.evento.id }}</td>
            </tr>
            <tr>
                <td>Solicitante</td>
                <td>{{ vm.evento.solicitante }}</td>
            </tr>
            <tr>
                <td>Contato</td>
                <td>{{ vm.evento.contato }}</td>
            </tr>
            <tr>
                <td>Título</td>
                <td>{{ vm.evento.titulo }}</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>{{ vm.evento.data | date:'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
                <td>Local</td>
                <td>{{ vm.evento.local }}</td>
            </tr>  
            <tr>
                <td>Início</td>
                <td>{{ vm.evento.inicio }}</td>
            </tr>
            <tr>
                <td>Término</td>
                <td>{{ vm.evento.termino }}</td>
            </tr>
            <tr>
                <td>Presença do técnico</td>
                <td>{{ vm.evento.presencaTecnico }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ vm.evento.status }}</td>
            </tr>  
            <tr>
                <td>Registro</td>
                <td><b>{{ vm.evento.registro }}</b></td>
            </tr> 
            <tr>
                <td>Observação</td>
                <td>{{ vm.evento.observacao }}</td>
            </tr> 
        </table>

        <div>
            <input type="button"
            id="marginButton"
            class="btn btn-default btn-sm"
            value="Alterar"
            ng-click="vm.alteraEvento(evento)">

            <input type="button"
            id="marginButton"                   
            class="btn btn-default btn-sm"
            value="Excluir"
            data-toggle="modal"
            ng-click="vm.excluiEvento(evento)">
        </div>
    </div> -->

    <div class="evento-detalhe">
        <div id="titleDetalhes">
             <h4>
                <span id="registroEvento">{{ vm.evento.registro }}</span>
                <span id="statusEvento">{{ vm.evento.status }}</span>
            </h4><br>
        </div>
        <div>
            <h4>
                <span><font color="red">{{ vm.evento.data | date:'dd/MM/yyyy' }}</font> {{ vm.evento.inicio }} ás {{ vm.evento.termino }}</span>
            </h4>
        </div>  
        <div>
            <h3>{{ vm.evento.titulo }}</h3>
            <h4>{{ vm.evento.solicitante }}</h4>
            <h4>{{ vm.evento.contato }}</h4>
            <h4>{{ vm.evento.local }}</h4>
            <h4>{{ vm.evento.presencaTecnico }}</h4>
            <h4>{{ vm.evento.observacao }}</h4>
        </div>

        <div>
            <input type="button"
            id="marginButton"
            class="btn btn-default btn-sm"
            value="Alterar"
            ng-click="vm.alteraEvento(evento)">

            <input type="button"
            id="marginButton"                   
            class="btn btn-default btn-sm"
            value="Excluir"
            data-toggle="modal"
            ng-click="vm.excluiEvento(evento)">
        </div>
        

        <span class="glyphicon glyphicon-print"></span>

    </div>    