<div class="row" ng-show="vm.mostraLista">
    <div class="col-xs-6">        
        <table class="tabela-lista">   
            <thead>
                <tr>
                    <th>ID</th> 
                    <th>Título</th>
                    <th><a href ui-sref="listar({ listParams: vm.orderByDate })">Data</a></th>
                    <th>Local</th>  
                    <th>Início</th>
                    <th></th>
                </tr>
            </thead>   

            <tbody ng-repeat="evento in vm.eventos" ng-class-even="'even'">  
                <tr class="corpo-tabela-lista">
                    <td>{{evento.id}}</td>
                    <td  width=200>{{evento.titulo}}</td>
                    <td>{{evento.data | date:'dd/MM/yyyy'}}</td>
                    <td  width=200>{{evento.local}}</td>
                    <td>{{evento.inicio}}</td> 
                    <td>
                        <input id="marginButton"
                         type="button"
                         class="btn btn-primary btn-sm"
                         ng-click="vm.buscaEvento(evento)"
                         value="+">
                    </td>
                </tr> 
            </tbody>           
        </table>

        <div class="download.icons">  
            <button class="btn btn-link" ng-click="vm.exportaExcel()">
            <span class="glyphicon glyphicon-download-alt"></span>
            Exportar para Excel
            </button>

            <button class="btn btn-link" ng-click="vm.exportaPdf()">
            <span class="glyphicon glyphicon-download-alt"></span>
            Exportar para Pdf
            </button>
        </div>  
    </div>
  
    <div class="col-xs-4"> 
        <div class="evento-detalhe-view" ui-view></div>
    </div>    
</div>

<div ng-show="!vm.mostraLista">
    <h1>Não há dados para exibir!  </h1>  
    <h3>Clique <a href="http://localhost:9000/#!/cadastrar">aqui</a> para cadastrar um novo evento.</h3>
</div>

