<div width="300px" class="alert alert-danger alert-error-login" ng-show="vm.error">
  <b>Ocorreu um erro ao tentar realizar o Login, usuário ou senha inválidos.</b>
</div>

<div class="form-style-8 animated bounceIn">
  <h2>Área Restrita</h2>
  <form ng-submit="vm.login()">
    <input type="text" ng-model="vm.credentials.username" placeholder="Usuário" />
    <input type="password" ng-model="vm.credentials.password" placeholder="Senha" />
    <input class="btn btn-login" type="submit" value="Autenticar"/>
  </form>
</div>