<div width="300px" class="alert alert-danger" ng-show="vm.error">
  <b>Ocorreu um erro ao tentar realizar o Login, usuário ou senha inválidos.</b>
</div>

<form class="loginForm" ng-submit="vm.login()">
  <div class="loginPanel">

      <div class="loginTitlePanel">
          <div align="center">
            <p class="title">Área Restrita</p>
        </div>
      </div>
      <div class="loginUserPanel" align="center">

        <div class="formControlLoginTam">
          <input  class="form-control" type="text" ng-model="vm.credentials.username" placeholder="Usuário"/><br/>
          <input  class="form-control" type="password" ng-model="vm.credentials.password" placeholder="Senha"/><br/>
        </div>

        <div align="center"> 
            <button class="btn btn-default" type="submit">Autenticar</button>
        </div>

     </div>
  
  </div>
</form>