<div width="300px" class="alert alert-danger alert-error-login" ng-show="vm.error">
  <b>Ocorreu um erro ao tentar realizar o Login, usuário ou senha inválidos.</b>
</div>

<!-- <form class="loginForm" ng-submit="vm.login()">
  <div class="loginPanel">

      <div class="loginTitlePanel">
          <div align="center">
            <p class="title">Área Restrita</p>
        </div>
      </div>
      <div class="loginUserPanel" align="center">

        <div class="formControlLoginTam">
          <input  class="form-control" type="text" ng-model="vm.credentials.username" placeholder="Usuário"/><br/>
          <input  class="form-control" type="password" ng-model="vm.credentials.password" placeholder="Senha"/><br/>
        </div>

        <div align="center"> 
            <button class="btn btn-default" type="submit">Autenticar</button>
        </div>

     </div>
  
  </div>
</form> -->

<div class="form-style-8">
  <h2>Área Restrita</h2>
  <form ng-submit="vm.login()">
    <input type="text" ng-model="vm.credentials.username" placeholder="Usuário" />
    <input type="password" ng-model="vm.credentials.password" placeholder="Senha" />
    <input class="btn btn-login" type="submit" value="Autenticar"/>
  </form>
</div>