<div class="body-cadastrar">

<!-- Janela de alteração -->
<!--<div class="modal fade" id="modal-mensagem-alterar">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">Confirmação</h4>
			</div>
			<div class="modal-body">
				<p>Deseja realmente alterar esse registro?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="vm.alteraEvento()">Alterar</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>-->

<div align="center" class="formulario-de-evento">
	<div ng-include="'components/evento/formulario.html'"></div>
	<input class="btn btn-primary btn-alterar" type="button" value="Alterar" ng-click="vm.alteraEvento()"/>
	<input class="btn btn-primary btn-cancelar" type="button" value="Cancelar" ng-click="vm.cancelaAlteracao()"/>
</div>	

</div>		