<form class="loginForm" ng-submit="vm.login()">
  <div class="loginPanel">

      <div class="loginUserPanel" align="center">
      
        <div align="center">
          <p class="title">ÁREA RESTRITA</p>
        </div>
      
        <div class="formControlLoginTam">
          <input  class="form-control" type="text" ng-model="vm.credentials.username" placeholder="Usuário"/><br/>
          <input  class="form-control" type="password" ng-model="vm.credentials.password" placeholder="Senha"/><br/>
        </div>

        <div align="center"> 
            <button class="btn btn-default" type="submit">Autenticar</button>
        </div>

     </div>
  
  </div>
</form>