@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
    background:#ecf0f1;
    
}
body, html
{
    height:100%;
}

@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity: 1; }
}

/*TOASTR*/

.toast-top-center {
	margin-top: 300px;
}


/* MENU PRINCIPAL */
.navbar-inverse {
	background: linear-gradient(70deg, black 40%, #363636 40.6%);
}

.navbar-second {
	background-color: #337ab7;
	color: white;
	margin-top: -20px;
}

.block-image {
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.menu-principal {
	list-style: none;
	float: right;
}
.menu-principal li {
	display: inline-block;
	padding: 18px 20px 8px 8px;
	font-family: 'Open Sans', sans-serif;
	font-size: 9pt;
}
.menu-principal li a {
	color: white;
	text-decoration: none;
	padding: 5px;
} 



/* PAINEL DE LOGIN */

.btn-login {
     width: 100%;       
     font-family: Verdana;
}

.alert-error-login {
    width: 50%;
}

.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 350px;
    padding: 30px;
    background-color: #363636;
    /* background: linear-gradient(70deg, black 42%, #363636 43%); */
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    border-radius: 4pt;

}
.form-style-8 h2{
    background-color: #363636;
    /* background: linear-gradient(70deg, black 29%, #363636 31%); */
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    border-bottom: 3px solid #ecf0f1;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    color: white;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
/* .form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #337ab7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #337ab7;
    box-shadow: inset 0px 1px 0px 0px #337ab7;
    background-color: #337ab7;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
} */
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
     background:linear-gradient(to bottom, #337ab7 5%, #337ab7 100%); 
     color: white;
}

/* .loginPanel{
	width: 420px;
	height: 300px;
	margin: 80px auto 0px;
	font-family: Verdana;
}

.loginUserPanel {
	margin-top: -10px;
	background: linear-gradient(70deg, black 40%, #363636 40%);
}

.loginTitlePanel {
	background-color: #337ab7;
	color: white;
	font-size: 18pt;
	padding: 10pt;
}

.formControlLoginTam {
	padding-top: 15px;
	width: 300px;
}

.alert-danger {
	width: 700px;
} */

/* CADASTRO */

.btn-cadastro {
    width: 40%;
    margin-bottom: 5px;
}

.btn-cancelar {
    width: 40%;
    margin-bottom: 5px;
}

.btn-alterar {
    width: 40%;
    margin-bottom: 5px;
}

.formulario-de-evento {
	width: 600px;
    background-color: #E8E8E8;
    box-shadow: 7px 7px 10px #888888;
}

.titulo-formulario {
	background-color: #337ab7;
	color: white;
}

/*
* LISTA DE EVENTOS
*/

.title-lista {
    background: linear-gradient(70deg, black 40%, #363636 41.4%);
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: white;
    padding: 1px;    
}

.top-lista-area {
    background-color: #E8E8E8;
}

#marginButton {
    margin: 3px;
}

.form-pesquisa input[type="text"],
.form-pesquisa input[type="number"]
{
  width: 6%;
  height: 20px;  
}
.form-pesquisa input[type="button"]:hover, 
.form-pesquisa input[type="submit"]:hover {
     background:linear-gradient(to bottom, #337ab7 5%, #337ab7 100%); 
     color: white;
}
.datepicker {
    border: solid 1px;
    border-radius: 3px;
    height: 20px;
}

.tabela-pesquisa {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.evento-detalhe {
	/* border: 1px solid black; */
    width: 104%;
    background-color: #E8E8E8;
    box-shadow: 7px 7px 10px #888888;
	padding: 8px;
	margin: 10px;
    text-align: left;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

}

div#titleDetalhes {
	background: linear-gradient(70deg, black 40%, #363636 41.4%);
	color: white;
	margin-top: -18px;
	margin-left: -8px;
	margin-right: -8px;
	padding: 3px;
}

div#iconDetalheEvento {
	float: right;
	display: inline;
}

span#registroEvento {
	display: inline;
	float:left;
}

span#statusEvento {
	display: inline;
	float:right;
}


#tabela-lista-detalhes {
	font-family: Myraid ,Pro Frutiger, "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
}

